.card {
    background-color: var(--background-color);
    border: 2px solid currentColor;
    max-width: 696px;

    &-list__item {
        display: grid;
        justify-items: center;
        margin-bottom: 50px;
    }

    &__title {
        padding: 5px 10px;
        font-size: 18px;
        font-variation-settings: "wght" var(--font-weight-title);
    }

    &__image-label {
        position: absolute;
        opacity: 0.5;
        color: var(--button-text-color);
        font-family: var(--accept-font);
        font-size: 14px;
        text-shadow: 0 0 1px var(--background-color);
        inset-inline-end: 20px;
        inset-block-start: 24px;
        mix-blend-mode: hard-light;
        z-index: 1;
    }

    @supports (-webkit-text-stroke: 1px var(--background-color)) {
        &__image-label {
            -webkit-text-stroke: 1px var(--background-color);
            text-shadow: none;
        }
    }

    &__image-wrapper {
        position: relative;
        overflow: hidden;
        width: 100%;
        border-top: 2px solid currentColor;
    }

    &__image {
        display: block;
        inline-size: 100%;
        aspect-ratio: 1 / 1;

    }

    &__content {
        padding: 27px 25px 25px 25px;
        font-size: 18px;
        line-height: 21px;
        display: flex;
        flex-direction: column;
        gap: 25px;
        border-top: 2px solid currentColor;
        font-variation-settings: "wght" var(--font-weight-content);

        p:not(:first-of-type) {
            margin-top: 2px;
        }

    }

    &__image--blur {
        filter: blur(0.3rem)
    }

    &__image--grayscale {
        filter: grayscale(0.95);
    }

    &__image--saturate {
        filter: saturate(400%);
    }

    &__image--sepia {
        filter: sepia(1)
    }

    &__image--hue-rotate {
        filter: hue-rotate(35deg);
    }

    &__image--invert {
        filter: invert(0.8);
    }

    &__image--custom {
        filter: contrast(0.5) grayscale(0.1) hue-rotate(110deg) brightness(150%);
    }

    &__button {
        display: flex;
        justify-content: end;
        gap: 4px;

    }

    &__like-button {
        min-width: 130px;
        padding: 10px 17px;
    }


    &__button-specification {
        position: relative;
        cursor: pointer;
        border: 2px solid currentColor;
        background: var(--background-color);
        font-family: var(--accept-font);
        font-size: 14px;
        transition: box-shadow 0.3s ease;
        display: flex;
        justify-content: center;
    }

    &__button-specification:focus {
        outline: none;
    }

    &__button-specification:focus-visible {
        box-shadow: 2px 2px 0px 0px var(--text-color);
    }

    &__button-specification::before {
        left: 0;
        top: 0;
        content: "";
        position: absolute;
        display: block;
        inline-size: 100%;
        block-size: 100%;
        background-color: var(--button-text-color);
        border: inherit;
        scale: 0 1;
        transform-origin: left;
        transition: scale 0.5s ease-in-out;
    }

    &__button-specification:hover::before {
        scale: 1;
    }

    &__button-specification>* {
        color: var(--background-like-color);
        mix-blend-mode: difference;
        position: relative;
    }

    &__icon-button {
        transition: border-color 0.3s ease;
        cursor: pointer;
        background-color: transparent;
        padding: 0;
        border: 2px solid transparent;
        height: 38px;
    }

    &__icon-button:focus {
        outline: none;
    }

    &__icon-button:focus-visible {
        border: 2px solid var(--text-color);
    }

    &__save-button {
        background: var(--background-color);
        gap: 8px;
        padding: 18.5px 21px;
        display: flex;
        flex-wrap: wrap;
        align-items: center;
        justify-content: center;
        border: 2px solid var(--main-color);
        position: relative;
        max-width: 335px;
    }

    &__save__icon {
        width: 21px;
        height: 21px;
    }
}

@media (width < 376px) {

    .card__save-button {
        flex-direction: column;
        padding: 15px 20.5px;
    }

    .card__save-icon {
        block-size: 28px;
        inline-size: 28px;
    }
}