.card {
    background-color: var(--background-color);
    border: 2px solid currentColor;
    max-inline-size: 669px;

    &-list {
    display: grid;
    justify-items: center
}

&__title {
    padding: 5px 10px;
    font-size: 18px;
}

&__image-wrapper {
    position: relative;
    overflow: hidden;
}

&__image {
    display: block;
    max-width: 100%;
}

&__content {
    margin-block-start: 25px;
    font-size: 18px;
    line-height: 21px;
    padding-left: 25px;
    padding-right: 25px;
    display: flex;
    flex-direction: column;
    gap: 27px;

}

&__buttons{
    display: flex;
  justify-content: flex-end;
}
}