.footer {
    background: var(--background-color);
    display: flex;
    justify-content: center;
    

    &__button {
        gap: 8px;
        padding: 18.5px 21px;
        display: flex;
        flex-wrap: wrap;
        align-items: center;
        justify-content: center;
        border: 2px solid var(--main-color);
        position: relative;
        width: 335px;
    }

    &__icon {
        width: 21px;
        height: 21px;
    }
}