.page {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-top: 100px;
    padding-bottom: 100px;
    font-family: var(--page-main-font);
    background-color: var(--themes-background-color);
    color: var(--themes-main-color);
    background-image: var(--background-image);
    background-size: cover;
    background-position: center;
    background-attachment: fixed;
    min-inline-size: 320px;
    min-block-size: 100dvb;
  }